* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 15px;
    text-decoration: solid;
}

h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

#heading {
    margin-top: 20px;
    text-align: center;
    color: rgb(56, 56, 56);
}

#content {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#visualization {
    width: 500px;
}

button {
    width: 2.2rem;
    height: 2.2rem;
    background-color: transparent;
    border: solid rgb(56, 56, 56) 2px;
    border-radius: 3px;
}

#start {
    color: rgb(12, 189, 12);
}

#stop {
    color: red;
}

#reload {
    color: blue;
}

#control{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.control-btn:hover {
    opacity: 0.7;
    font-size: 1rem;
}

#information {
    display: flex;
    flex-direction: row;
}

#options {
    margin-top: 50px;
}

.drop-down-box {
    margin-top: 10px;
}

.checkbox {
    margin-top: 10px;
}

@media (max-width: 750px){
    body {
        overflow: auto;
        text-align: center;
    }

    #heading {
        margin-top: 10px;
    }

    #content {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    #visualization {
        width: 300px;
        margin: 0 auto 0 auto;
    }

    #control {
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin: 20px auto 0 auto;
    }

    button {
        width: 1.5rem;
        height: 1.5rem;
    }

    i {
        font-size: 0.75rem;
    }

    #path {
        margin-top: 30px;
    }

    #options {
        margin-top: 30px;
    }
}

